<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      label {
        font-size: 1rem;
      }
    </style>
  </head>
  <body>
    <label for="picker">Pick a tint color</label>
    <aside>(your selection will only be used on this browser)</aside><br>
    <input id="picker" type="color" alt="Pick a color">
    <script>
      const defaultTint = `<%= DEFAULT_TINT_COLOR %>`;
      const savedTintColorName = `<%= SAVED_TINT_COLOR_NAME %>`;

      const colorPicker = document.querySelector('#picker');
      colorPicker.addEventListener('input', (e) => chrome.storage.local.set({
        [savedTintColorName]: e.target.value
      }));

      chrome.storage.local.get(savedTintColorName, ({ [savedTintColorName]: tint }) => {
        colorPicker.value = tint || defaultTint;
      });
    </script>
  </body>
</html>
