html
  head
    link(href="domscriptions.css", rel="stylesheet")
  body
    input(id="picker" type="color", value="#d0d0d0" alt="Pick a color")
    script.
      var colorPicker = document.getElementById("picker");
      colorPicker.addEventListener("input", updateColor);
      getSavedColor();

      function getSavedColor() {
        chrome.storage.sync.get('tint', function(items) {
          console.log('items');
          if (items.tint) {
            colorPicker.value = items.tint;
          }
        });
      }

      function updateColor(e) {
        console.log(e.target.value)
        chrome.storage.sync.set({tint: e.target.value});
      }
